
.wd-kanbas-navigation {
    border-radius: 0 !important;
    background: black;
    width: 85px !important;
    min-height: max(100vh, 100%);
}


.wd-kanbas-navigation .list-group-item {
    background: black;
    padding: 10px;
    margin-block: 5px;
    border: 0;
    max-width: 100% !important;
    font-size: 0.9em !important;
    align-items: center;
    color: white;
}


.wd-kanbas-navigation .list-group-item.active {
    margin-top: 5px !important;
    background: white;
    color: red;
}


.wd-kanbas-navigation .neu {
    padding: 0px;
    margin: 0px;
    width: 85px;
    height: 85px;
}

.wd-kanbas-navigation .wd-icon {
    font-size: 2em;
    color: red;
}